@import 'variables';

$btn-shadow-spread: -4px;
$btn-shadow-blur: 12px;
$page-margin-x: 32px;
$table-margin-y: 0px;
$table-cell-padding: 8px 16px;
/*  32px bottom margin up to button + label text
      16 px top margin on button
      71 px total height of button + label text
      */
$action-btn-height: calc(32px + 16px + 71px);

.content {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: $content-vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  main {
    width: calc(100% - 2 * $page-margin-x);
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: $action-btn-height;
    max-width: 800px;
  }
  h1 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 8px;
  }
}

.card {
  margin-top: 0;
  border-radius: 8px;
  border-spacing: 1px;
  box-shadow: 0px 0px 25px -6px hsl(0, 0, 80%);

  .graph {
    display: flex;
    justify-content: center;
    position: relative;
    max-height: 120px;
  }
  .info-box {
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-areas: "info id";
    justify-items: stretch;

    #item-info {
      padding: 12px 16px;
      box-shadow: 0px 0px 25px -6px hsl(0, 0, 80%);
      h3 {
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 1rem;
      }
      p {
        margin-top: 0;
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 12px;
      }
    }
    #item-id {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      justify-content: center;
      #item-id-number {
        font-weight: 200;
        font-size: 36px;
        padding: 0;
        margin: 0;
      }
      #item-id-text {
        font-size: 12px;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.card-container {
  height: fit-content;
  margin-bottom: 16px;
}

.body-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 32px;

  .btn-dual {
    margin: 0 16px 0 16px;
  }
}

.btn {
  font-size: 12px;
  width: 120px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border: none;
  text-align: center;
  color: white;
}

.btn-primary {
  color: white;
  background-image: $primary-gradient;
  box-shadow: 0 3px $btn-shadow-blur $btn-shadow-spread $primary-color;
  transition: all 0.2s ease;
  
  &:hover {
    box-shadow: 0 3px $btn-shadow-blur calc($btn-shadow-spread + 3px) $primary-color;
    transition: all 0.2s ease;
  }
}

.btn-accent-light {
  color: white;
  background-image: $accent-light-gradient;
  box-shadow: 0 3px $btn-shadow-blur $btn-shadow-spread $accent-light;
  transition: all 0.2s ease;
  
  &:hover {
    box-shadow: 0 3px $btn-shadow-blur calc($btn-shadow-spread + 3px) $accent-light;
    transition: all 0.2s ease;
  }
}

.btn-accent-dark {
  color: white;
  background-image: $accent-dark-gradient;
  box-shadow: 0 3px $btn-shadow-blur $btn-shadow-spread $accent-darker;
  transition: all 0.2s ease;
  
  &:hover {
    box-shadow: 0 3px $btn-shadow-blur calc($btn-shadow-spread + 3px) $accent-darker;
    transition: all 0.2s ease;
  }
}

.btn-shade-light {
  color: white;
  background-image: $shade-light-gradient;
  box-shadow: 0 3px $btn-shadow-blur $btn-shadow-spread $shade-light;
  transition: all 0.2s ease;
  
  &:hover {
    box-shadow: 0 3px $btn-shadow-blur calc($btn-shadow-spread + 3px) $shade-light;
    transition: all 0.2s ease;
  }
}
.btn-shade-dark {
  color: white;
  background-image: $shade-dark-gradient;
  box-shadow: 0 3px $btn-shadow-blur $btn-shadow-spread $shade-darker;
  transition: all 0.2s ease;
  
  &:hover {
    box-shadow: 0 3px $btn-shadow-blur calc($btn-shadow-spread + 3px) $shade-darker;
    transition: all 0.2s ease;
  }
}

.btn-black {
  color: white;
  background-image: $black-gradient;
  box-shadow: 0 3px $btn-shadow-blur $btn-shadow-spread $black;
  transition: all 0.2s ease;
  
  &:hover {
    box-shadow: 0 3px $btn-shadow-blur calc($btn-shadow-spread + 3px) $black;
    transition: all 0.2s ease;
  }
}

.btn-negative {
  color: $shade-light;
  background-color: white;
  border: 1px solid $shade-light;
  box-shadow: 0 3px $btn-shadow-blur $btn-shadow-spread $accent-darker;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 0 3px $btn-shadow-blur calc($btn-shadow-spread + 3px) $accent-darker;
    transition: all 0.2s ease;
  }
}

.clr-primary {
  color: $primary-color;
}
.clr-accent-light {
  color: $accent-light;
}
.clr-accent-dark {
  color: $accent-darker;
}
.clr-shade-light {
  color: $shade-light;
}
.clr-shade-dark {
  color: $shade-darker;
}
.clr-black {
  color: $black;
}

/* Table style */

.table-container {
  max-width: calc(100% - 2 * $page-margin-x);
  overflow: auto;
  margin-top: 0;
  /*  32px bottom margin up to button + label text
      16 px top margin on button
      71 px total height of button + label text
      */
  margin-bottom: $action-btn-height;

  border-radius: 8px;
  border-spacing: 1px;
  box-shadow: 0px 0px 25px -6px hsl(0, 0, 80%);

  table {
    display: table;
    width: 100%;
    white-space: pre;

    border-radius: 8px;
    border-spacing: 1px;

    background: hsl(0, 0, 90%);

    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 12px;
    text-align: left;

    thead th {
      position: sticky;
      top: 0;
      z-index: 1;
      padding: $table-cell-padding;
      color: white;
      background-color: $accent-darker;

    }
    thead th:first-child {
      border-radius: 8px 0px 0px 0px;
    }
    thead th:last-child {
      border-radius: 0px 8px 0px 0px;
    }

    td {
      padding: $table-cell-padding;
      background: white;
    }

    tbody {
      tr:last-child {
        td:first-child {
          border-radius: 0 0 0 8px;
        }

        td:last-child {
          border-radius: 0 0 8px 0;
        }
      }
    }
  }
}
