.modal {
  background: white;
  box-shadow: 0 0 25px -6px hsl(0deg, 0%, 80%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 24px; // Change back to 24px!

  max-height: calc(80vh);
  overflow: scroll;


  h1 {
    margin-left: 0px;
    font-size: 32px;
    font-weight: 600;

  }

  h2 {
    margin-left: 16px;
    // margin-bottom: 8px;
    font-size: 24px;
    font-weight: 500;
  }

  h3 {
    margin-left: 16px;
    font-size: 12px;
    font-weight: 600;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .mainLabel {
      font-size: 16px;
      font-weight: 600;
    }

    label {
      display: flex;
      flex-direction: column;
      margin: 8px 0px;
      font-size: 12px;
      font-weight: 500;


      button {
        width: 24%;
        margin-left: 5%;
        height: 36px;
      }

      input {
        padding: 8px 16px 8px 16px;
        border: 1px solid gray;
        border-radius: 8px;
        height: 18px;
        margin-top: 8px;
      }

      p {
        margin-left: 0;
      }
      select {
        margin-top: 8px;
        padding: 8px 16px 8px 16px;
        background-color: white;
        border: 1px solid gray;
        border-radius: 8px;
      }


      .mainInput {
        margin-top: 8px;
        // margin-bottom: 8px;
      }

      .inputRow {
        margin-top: 0px;

        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 100%;

        input {
          width: 70%
        }

        button {
          width: 20%;
          padding: 8px;
          // margin-top: 8px;
        }
      }

    }

    div.centerButton {
      width: 100%;
      display: flex;
      justify-content: center;

      button {
        height: 32px;
        width: 100%;
        margin-top: 16px;
      }
    }

    .invalidInput {
      border: 1px solid red;
      box-shadow: 0px 0px 12px -4px red;

      /* Figure out a way to change the blue border when active!*/
    }

    .invalidInputMessage {
      margin-top: -4px;
      margin-left: 0px;
      color: red;
      font-size: 12px;
      font-weight: 500;
    }
  }

  ul {
    font-size: 14px;
    margin-left: 16px;
    margin-top: 0px;
    padding: 0;

    b {
      font-weight: 500;
      padding-right: 8px;
    }

    li {
      list-style: none;
      list-style-position: inside;
      margin-left: 0;
    }
  }

}

.modalButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 40px 0 8px 0;

  button {
    width: fit-content;
    margin: 0 16px;
    padding: 8px 16px;

    border-radius: 8px;
  }
}

.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  /* sits on top if highest z-index */
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background: hsla(0deg, 0%, 0%, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;
}

.productDescription {
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    font-size: 24px;
    font-weight: 100;
    margin-left: 16px;
    // margin-bottom: 8px;
    // line-height: 29.5px;

  }
}

//:export {
//  dialogs: dialogs;
//  modalBody: dialogs-body;
//  modalHeader: dialogs-header;
//  modalOverlay: dialogs-overlay;
//  modalWrapper: dialogs-wrapper;
//}
